@charset "UTF-8";

@font-face {
    font-family: 'Montsserat';
    src: url('../font/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter/static/Inter_18pt-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.offcanvas .offcanvas-header h5 {
    font-family: 'Montsserat';
    font-size: 36px;
}

.offcanvas .offcanvas-body,
.offcanvas-header {
    background: #102A43;
    color: white;
}

.offcanvas .offcanvas-body ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.offcanvas .offcanvas-body ul li {
    text-transform: uppercase;
    padding: 15px 0px;
    list-style: none;
}

.offcanvas .offcanvas-body ul li a {
    color: white;
    text-decoration: none;
}

header {
    background: linear-gradient(#000000a4, rgba(0, 0, 0, 0)), url('../img/banner_official.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 700px;
}

header .top {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    backdrop-filter: blur(5px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Montsserat';
}

header .top button.btn-toogle {
    background: transparent;
    font-size: 30px;
    color: white;
}

/* COOMING SOON */
#comming-soon {
    padding: 100px 0px;
}

#comming-soon h2 {
    font-family: 'Montsserat';
    font-size: 50px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 10px;
}

.card1 {
    display: block;
}

.card1 .style_music {
    color: #792cff;
    padding: 10px 0px;
    font-size: 18px;
}

.card1 h3 {
    font-size: 32px;
    color: #160B2B;
}

.card1 p {
    color: #585858;
    line-height: 34px;
}

/* PLAYER MP3 */

.play-cooming {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.music-player {
    width: 100%;
    max-width: 850px;
    margin: 40px 10px;
    padding: 25px;
    background: linear-gradient(135deg, #050509, #160B2B, #102A43);
    border: 1px solid #7B2CFF;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(123, 44, 255, 0.25);
    color: #F5F5F7;
}

.music-info {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 25px;
}

.music-cover {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #7B2CFF;
}

.music-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-info h3 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

.music-info span {
    display: block;
    margin-top: 6px;
    color: #8A8A96;
    font-size: 13px;
    letter-spacing: 1px;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 18px;
}

.play-btn {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #7B2CFF;
    color: white;

    cursor: pointer;

    box-shadow:
        0 0 20px rgba(123, 44, 255, 0.6);

    transition: 0.3s;
}

.play-btn:hover {
    transform: scale(1.08);
    background: #B56CFF;
}

.progress-container {
    flex: 1;
}

#progress {
    width: 100%;
    accent-color: #7B2CFF;
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: space-between;

    margin-top: 5px;

    font-size: 12px;
    color: #8A8A96;
}

.volume-btn {
    background: none;
    border: none;
    color: #00C8FF;
    font-size: 20px;
    cursor: pointer;
}

.playlist {
    margin-top: 25px;
}

.playlist h4 {
    font-size: 32px;
}

.playlist ol {
    padding: 10px;
}

.playlist ol li {
    padding: 10px 10px;
    text-decoration: underline;
    cursor: pointer;
}

.playlist ol li:hover {
    background: #102A43;
    text-decoration: none;
}